@using MyFridge.Client.Services
@page "/about"

<PageHeader>About us</PageHeader>

<div class="contentContainer text-center">
    <hr />
    <img src="img/itsme.png" alt="It's me" class="img-fluid avatar" />

    <h3>Toni de la Torre</h3>
    <p>
        <span><strong>Senior .NET Developer</strong></span>
        <small class="text-muted">ERNI Consulting España S.L.U.</small>
    </p>

    <div class="socialIcons">
        <a href="mailto:toni.delatorre@erni-espana.es" target="_blank"><img src="img/iconfinder_Mail_194919.png" alt="Mail" class="img-fluid mr-3" /></a>
        <a href="https://www.linkedin.com/in/toni-de-la-torre-asensio-34b44a13/" target="_blank"><img src="img/iconfinder_linkedin_246593.png" alt="LinkedIn" class="img-fluid mr-3" /></a>
        <a href="https://github.com/tdtorre/MyFridge" target="_blank"><img src="img/iconfinder_mark-github_298822.png" alt="Github" class="img-fluid mr-3" /></a>
    </div>
</div>