@using MyFridge.Client.Services
@inject AppState state
@page "/"

<div id="newItemHeader">
    <p>What do you have in your fridge?</p>
</div>

<FridgeItemAdder OnAddItem=state.AddToFridgelist ></FridgeItemAdder>
<FridgeListItemsContainer ListId="fridge" FridgeItems="state.FridgeItems"></FridgeListItemsContainer>
<FridgeListItemsContainer ListId="freezer" FridgeItems="state.FreezerItems"></FridgeListItemsContainer>

@functions{
    protected async override void OnInit()
    {
        await state.LoadItems();
        state.OnChange += StateHasChanged;
    }
}