@using MyFridge.Client.Services
@inject AppState state
@page "/"

<PageHeader>What do you have in your fridge?</PageHeader>
<FridgeItemAdder></FridgeItemAdder>
<BusyIndicator IsInProgress="state.InProgress"></BusyIndicator>

@if (!state.InProgress)
{
    <p class="stockTitle">FRIDGE</p>
    <FridgeListItemsContainer ListId="fridge" FridgeItems="state.FridgeItems"></FridgeListItemsContainer>
    <p class="stockTitle">FREEZER</p>
    <FridgeListItemsContainer ListId="freezer" FridgeItems="state.FreezerItems"></FridgeListItemsContainer>
}

<PopupAlertContainer MessageList="state.Messages"></PopupAlertContainer>

@functions{
    protected async override void OnInit()
    {
        state.OnUdpatedFridgeItems += StateHasChanged;
        await state.GetFridgeItems().ConfigureAwait(false);
        await state.GetShoppingListItems().ConfigureAwait(false);
    }
}