@using MyFridge.Shared
@inherits FridgeListItemsContainerModel

@if (this.FridgeItems.Count > 0)
{
    <ul id="@ListId" class="list-group stock">
        @foreach (var item in FridgeItems)
        {
            <FridgeListItem Item="@item"></FridgeListItem>
        }
    </ul>
}
else
{
    <p class="fridgeList-empty">Ougs, your list is empty :´(</p>
}

@functions {
[Parameter]
private string ListId { get; set; }

[Parameter]
IList<FridgeItem> FridgeItems { get; set; }
}