@using MyFridge.Shared
@inject Services.AppState state
@inherits PopupAlertContainerModel


<div class="popupAlertContainer">
    @foreach (var message in MessageList)
    {
        <PopupAlert Alert="@message" OnAlertFinish="state.RemoveShownAlerts"></PopupAlert>
    }
</div>

@functions {

    [Parameter]
    IList<PopupMessage> MessageList { get; set; }

}