@inject Services.AppState state
@inherits ShoppingListItemModel

<li onclick="@MarkAsBought" class="@((this.Item.WasBought) ? "through" : string.Empty)">@this.Item.Name</li>

@functions{
    [Parameter]
    private Shared.ShoppingListItem Item { get; set; }

    public void MarkAsBought()
    {
        this.Item.WasBought = !this.Item.WasBought;
        Console.WriteLine("Updating item: " + this.Item.Id);
        state.UpdateShoppingListItem(this.Item.Id).ConfigureAwait(false);
    }
}