@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333333;
}

app {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #e6e6e6;
        border-bottom: 1px solid #d6d5d5;
    }

.sidebar {
    border-right: 1px solid #d6d8db;
    font-family: 'Oswald', sans-serif;
}

    .sidebar .navbar-brand {
        font-size: 30px;
        color: #f44336;
    }

    .sidebar a.navbar-brand:hover {
        color: #f44336;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

.nav-item {
    font-size: 20px;
    padding-bottom: 0.5rem;
}

    .nav-item span {
        margin-top: 5px;
    }

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item a {
        color: #d6d8db;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: #333333;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: #333333;
        }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler-custom {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: rgba(255, 255, 255, 0.1);
    color: #d6d8db;
    border: 1px solid #d6d8db;
    border-radius: .25rem
}

    .navbar-toggler-custom span {
        margin-top: 5px;
        color: #d6d8db;
    }

#newItemHeader {
    text-align: center;
    margin-top: 50px;
}

.contentContainer {
    max-width: 530px;
    margin-left: auto;
    margin-right: auto;
}

#shoppingList li {
    cursor: pointer;
    font-style: italic;
}

    #shoppingList li.through {
        text-decoration: line-through;
    }

#newItemContainter {
    width: 100%;
}

    #newItemContainter .newItemGroup {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #newItemContainter .oversizeControls {
        font-size: 30px;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    #newItemContainter input#newItem {
        border-style: dashed;
        display: block;
    }

    #newItemContainter button {
        width: 60px;
        margin-left: 10px;
        display: block;
    }

    #newItemContainter .input-group {
        margin-left: 10px;
    }

    #newItemContainter select {
        border-style: dashed;
        height: 59px;
        width: 180px;
    }

#newItemGroup {
    margin-left: auto;
    margin-right: auto;
}

p.stockTitle {
    font-size: 12px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

p.fridgeList-empty {
    text-align: center;
    font-style: italic;
    font-size: 12px;
}

div.busyIndicator {
    margin-top: 20px;
}

.stock {
    width: 530px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

    .stock li.list-group-item {
        cursor: pointer;
    }

        .stock li.list-group-item span.oi-warning {
            top: 4px;
            color: #f44336;
        }

    .stock li.buttonActions {
        list-style-type: none;
        margin-top: 10px;
        margin-left: 20px;
        background-color: transparent;
        visibility: hidden;
        height: 55px;
    }

        .stock li.buttonActions.active {
            animation-name: slideDown;
            -webkit-animation-name: slideDown;
            animation-duration: 1s;
            -webkit-animation-duration: 1s;
            animation-timing-function: ease;
            -webkit-animation-timing-function: ease;
            visibility: visible !important;
        }

ul#fridge li.list-group-item {
    background-color: #F7F7F7;
}

    ul#fridge li.list-group-item.active {
        background-color: #d6d8db;
        border-color: transparent;
        color: #333333;
    }

ul#freezer li.list-group-item {
    background-color: #E0F0F0;
}

    ul#freezer li.list-group-item.active {
        background-color: #d6d8db;
        border-color: transparent;
        color: #333333;
    }

.badge-primary {
    background-color: #495057;
}

button.textIcon {
    width: 35px;
}

img.avatar {
    width: 240px;
    margin: 30px 0px;
}

div.socialIcons {
    margin-top: 20px;
}

@media (max-width: 1080px) {
    #newItemContainter .input-group {
        margin-left: 0px;
        margin-top: 10px;
        width: 100%;
    }

    #newItemContainter input#newItem {
        width: 100%;
        display: inline;
    }

    #newItemContainter button {
        font-size: 30px;
        width: 100%;
        margin-top: 10px;
        margin-left: 0px;
        display: inline;
    }
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }

    #newItemHeader {
        margin-top: 10px;
    }

    .stock {
        width: 100%;
    }
}

div.popupAlertContainer {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 9999;
    pointer-events: none;
}

div.popupAlert {
    pointer-events: all;
    z-index: 9999;
    position: relative;
    clear: both;
    float: right;
    margin-top: 5px;
    height: 50px;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.alert span.alertIcon {
    margin-right: 20px;
}

.alert button {
    margin-left: 20px;
}

.fade-in {
    -webkit-animation: fadeIn .4s ease-in 1 forwards;
    animation: fadeIn .4s ease-in 1 forwards;
    opacity: 0;
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler-custom {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

/* ANIMATIONS */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(8%);
    }

    65% {
        transform: translateY(-4%);
    }

    80% {
        transform: translateY(4%);
    }

    95% {
        transform: translateY(-2%);
    }

    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
    }

    50% {
        -webkit-transform: translateY(8%);
    }

    65% {
        -webkit-transform: translateY(-4%);
    }

    80% {
        -webkit-transform: translateY(4%);
    }

    95% {
        -webkit-transform: translateY(-2%);
    }

    100% {
        -webkit-transform: translateY(0%);
    }
}
